<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="https://mk0atomicsmashcd7n46.kinstacdn.com/wp-content/uploads/2019/02/WeatherPress-Plugin-1108x0-c-default.png">
    <title>404 page</title>
     <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
      {{>header}}
     <p>{{errormsg}}</p>
    </div>
   
    {{>footer}}
    
</body>
</html>